:root {
  --top-start: 17em;
  --left-start: 9.5em;
  --rotate-start: 0deg;
}

* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  height: 100vh;
  background-color: #222;
  color: white;
  font-size: 1.25rem;
}

main {
  position: relative;
  width: 20.25em;
  height: 20.25em;
  background-image: linear-gradient(rgba(0, 157, 255, .5) .2em, transparent .2em), linear-gradient(90deg, rgba(0, 157, 255, .5)
  .2em, transparent .2em);
  background-size: 2em 2em;
  z-index: 1;
}

ul {
  font-size: 2em;
}

/* Bike */
.bike {
  width: 1em;
  height: 2em;
  position: absolute;
  top: var(--top-start);
  left: var(--left-start);
  border-radius: 8px;
  transform: rotate(var(--rotate-start));
  transition: box-shadow .4s ease-in-out;
}

.glow {
  box-shadow: 0 0 20px rgb(0, 145, 255);
}

.bike-top {
  height: 2em;
  width: 1em;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
  background-color: rgb(56, 109, 232);
}

.bike-top::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1em;
  height: 1em;
  background-color: rgb(67, 246, 222);
  border-radius: 8px;
  transform: scale(.6);
}


/* front */


ul {
  display: flex;
  list-style: none;
  gap: 1em;
}